/* CSS for Desk Mess Mirrored theme displayed in LTE IE6 */
/* NB: LTE IE6 is no longer supported. This file and associated calls to it will only remain for the short term. */

/* === HEADER === */
#headerleft {
  float: left;
  background: url(images/ie6-left-pile.png) no-repeat;
  height: 326px;
  margin-left: -185px;
  margin-top: -80px;
  position: relative;
  width: 640px;
}

#logo {background:url(images/logo-bg.gif) no-repeat;}

#cup {
  background:url(images/cup3m.gif) no-repeat;
  display: none; /* Key property */
  left: 20px;
  position: relative;
  top: -305px;
  z-index: 10;
}

/* === MENU === */
.nav-menu {clear:both;}
.nav-menu li {background:transparent url(images/menu_button.gif) repeat-x;}

/* === MAIN BLOG === */
#wrapper {margin: 0 auto 0 6px;}
#bottom-extended {position: relative; top: 0px; left: -1px;}

/* Last Revision: July 12, 2011 v1.8.7 - LTE IE6 is no longer supported */